<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <!-- Oksi, your Bear-ific Sidekick
        Created by Kurush Dubash and Hassaan Shakeel
        September 27, 2014 -->

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Oksi, your bear-ific Sidekick</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body bgcolor="#F4FA58" text="#0101DF">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <center>
            <h1><b>Welcome to Oski! </b></h1> 
            <h3><i> Your Bear-ific Sidekick! </i></h3>
            <img src="http://cdn0.sbnation.com/imported_assets/419167/oski_092609_0438.jpg" style="width:538;height:359">
        
        <br><br><br><br></br></br></br></br>
        	
        	<h1> {{ name }}?</h1>
        	<br><br></br></br>
			<h1>{{ oski_answer }}</h1>
            <audio controls autoplay>
                <source src={{ speak }} type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <style>
             audio {
                display:none;
                }
            </style>

        </br><br></br></br>
        <p> Oski is built by Kurush Dubash and Hassaan Shakeel. <br><br>
            ENJOY! </br></br> </p>




        </center>



        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
